.checkout {
  margin: 125px 0 100px;
}

.checkout__header {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--clr-primary);
}

.checkout .address__item {
  border: 1px solid #eeeeeea6;
  background: #f3f7fb;
  border-radius: 5px;
}

.user-dashboard h3 span {
  font-size: 15px;
  padding: 6px 20px;
}

#addressModal .modal-title {
  width: 100%;
  text-align: center;
}

#addressModal .modal-header {
  background-color: #f6eee7fa;
}
