.profile__info {
  background-color: var(--clr-white);
  margin-top: 20px;
  padding: 30px;
}

.personal__info__text p + p {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.personal__info__text .lable {
  margin-bottom: 10px;
  display: block;
  color: var(--clr-secondary);
  font-weight: 600;
}
